venv/
__pycache__/
*.pyc
.parrotgpt.log
*.wav
*.mp3
*.ogg

.env
*.log
__pycache__/
*.pyc
.env


__pycache__/
*.pyc
testenv/
*.env
*.log
*.mp3
*.wav
*.sqlite3
tests/
tests/
*.pyc
.env
venv/
installers/deb/parrot-gpt.deb

# Ignore heavy/built folders
.venv/
dist/
build/
*.deb
__pycache__/
*.pyc
*.zip
*.mp3
*.wav
*.mp4
